.artworkFormContainer {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  padding: 10px;
  margin: 0 auto; /* Center the container on the page */
  max-width: 800px; /* Limit the width of the container */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.art {
  display: block;
  margin-bottom: 20px; /* Add space below each art element */
}

.artworkFormContainer form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align form items to the left */
  width: 100%;
  max-width: 400px;
}

.artworkFormContainer label {
  margin-bottom: 10px;
}

.artworkFormContainer input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .artworkFormContainer {
    justify-content: center;
    align-items: flex-start; /* Align items to the left */
    padding: 20px; /* Add more space around the container on larger screens */
  }

  .artworkFormContainer form {
    width: 400px;
  }
}
